<div class="container signin-signup">
  <div class="to-do center-block">
      <button>ENTER MARKS</button>
  </div>
  <div class="to-do center-block">
      <button><%= link_to 'New Course', new_course_path %></button>
  </div>
  <div class="to-do center-block">
    <button>VIEW COURSE</button>
  </div>
</div>
